{% extends 'Turismo_core/base.html'%}

{% block carousel %}

<table>
	<tr>
		<th>Codigo Departamento</th>
		<th>Dormitorios</th>
		<th>Precio por Dia</th>
		<th>Opciones</th>
	</tr>

	{% for r in reservas %}

	<tr>
		<td> {{ r.cod_reserva | title}} </td>
		<td> {{ r.pago_parcial | title}} </td>
		<td> {{ r.pago_completo | title}} </td>
		<td> {{ r.pago_aprobado | title}} </td>
		<td>
			<a href="{% url 'modificar_reserva' r.cod_reserva %}" class="btn btn-info btn-sm">Modificar</a>
			<a href="{% url 'eliminar_reserva' r.cod_reserva %}" class="btn btn-danger btn-sm">Eliminar</a>
		</td>
	</tr>

	{% endfor %}
</table>

{% endblock %}